:root {
    --my-pink: #F694C1;
    --my-purple: #e4c1f9;
    --my-dark-blue: #2660A4;
    --my-blue: #A9DEF9;
}

* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    column-gap: 40px;
    padding: 10px;
    background-color: var(--my-pink);
    color: #fff;
    width: 100vw;
    align-items: center;
    justify-items: center;
}

header h1 {
    font-family: "Mogra";
    font-size: 3em;
}

header img {
    height: 44px;
    width: auto;
    display: block;
    justify-self: center;
    align-self: center;
}

.navigation {
    display: none;
    font-family: 'Macondo';
    background-color: var(--my-pink);
    text-align: center;
    font-size: 1.2em;
}

#tos, #prices {
    display: none;
    width: 80%;   
    margin: 0 auto;
}

#prices ul {
    margin-bottom: 10px;
}

#tos li, #prices li {
    margin-bottom: 8px;
}

.navigation.open, #tos.open, #prices.open {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color:#ffffff;
    text-decoration: none;
    border-bottom: solid 1px var(--my-purple);

}

nav a.chosen {

    border-bottom: 2px solid var(--my-dark-blue);
}

#nav-bar a:hover {
    background-color: var(--my-blue);
    color: #2660A4;
}

.hamburger {

    background: none;
    border: none;
    cursor: pointer;
    color: var(--my-dark-blue);
}

.hamburger::after {
    content: "\2630";
    font-size: 2em;
}

.hamburger.show::after {
    content: "\00D7";
}

body {
    background-image: url("../images/milky-way.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    width: 95vw;
    margin: 0 auto;
    background-color: rgb(228, 193, 249, .5);
    text-align: center;
    font-family: "Macondo";
    margin-top: 50px;
    border: 5px solid #A9DEF9;
    border-radius: 20px;
}

main h1{
    font-family: "Mogra";
    padding: 10px;
    color: #fff;
}

.interest {
    display: inline;
}

#tos-button, #prices-button, .more {
    display: inline;
    border: none;
    padding: 20px;
    font-family: "Macondo";
    font-size: 1.5em;
    cursor: pointer;
    background-color: #e4c1f9;
}

.more.hidden {
    display: none;
}

#photos h2 {
    padding: 20px;
}

.art-card {
    display: inline-block;
    border: 5px solid #F694C1;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    background-color: #A9DEF9;
}

form {
    text-align: left;
}

form label {
    display: block;
    padding: .25rem;
    font-family: "Macondo";
    color: black
}

fieldset {
    background-color: var(--my-blue);
    margin: 20px auto;
    border:#082852 5px solid;
    box-shadow: 0 0 3rem #082852;
    max-width: 600px;
}

form input[type="text"], input[type="email"], input[type="tel"], textarea {

    padding: 12px;
    border-radius: 10px;
    width: 100%;
    text-align: left;
}

form input:required, textarea {

    border-left: var(--my-pink) 5px solid;
}

form legend {

    background-color: var(--my-blue);
    font-family: "Macondo";
    font-weight: bold;
    font-size: 1.5em;
    padding: 0px 10px;
    color: var(--my-dark-blue);
    border-radius: 10px;
}

form h2 {

    margin-left: 7px;
    color: var(--my-dark-blue);
    margin-top: 10px;

}

form input[type="radio"] {

    margin-right: 5px;
}

dialog {
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  border: 3px solid #fff;
    background-color: var(--my-blue);
  margin: auto auto;
  max-width: 300px;
  color: black;
}

dialog h2 {

    background-color: #082852;
    color: #fff;
    padding: 10px;

}

::backdrop {
  background-color: rgb(0 0 0 / 50%);
}

dialog button {

    position: absolute;
    background: none;
    border: none;
    top: 10px;
    right: 20px;
    font-size: 1.5em;
    color: #fff;
}


form button {
    display: block;
    margin: 0 auto;
    padding: 20px;
    font-family: "Macondo";
    font-size: 1.2em;
    border:#082852 5px solid;
    box-shadow: 0 0 3rem #082852;
    border-radius: 10px;
    cursor: pointer;

}

#form-deets {

    display: block;
    margin: 100px auto;
    width: 350px;
    text-align: center;
    background-color: var(--my-blue);
    padding: 20px;
    border:#082852 solid 5px;
    font-family: "Macondo";
    border-radius: 5px;
    font-size: 1.2em;
}

#form-deets p {

    padding: 10px;
}

#cta {

    display: block;
    background-color: var(--my-blue);
    color: black;
    font-family: "Macondo";
    font-size: 1.2em;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    text-decoration: none;
    width: 120px;
    text-align: center;
}

#cta:hover {

    background-color: var(--my-dark-blue);
    color: white;

}

.opener {

    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background-color: rgb(246, 148, 193, .50);
    padding: 40px;
    justify-items: center;
    align-items: center;

}

.hero {
    width: 100%;
    margin: 20px;
}

.about-me-page {

    padding-top: 50px;
}

.card {

    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
    font-family: "Macondo";
    background-color: #082852;
    color: #fff;
    border: 5px solid var(--my-pink);
    border-radius: 10px;
    width: 50%;
    margin: 40px auto;
    gap: 5px;
    padding: 20px;
}

.card img {

    border-radius: 10px;
    justify-self: center;

}

.card p {
    max-width: 400px;
    text-align: center;
    justify-self: center;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 30px;
    background-color: var(--my-pink);
    color: white;
    padding: 10px;
    margin-top: 40px;
    font-family: "Macondo";
    align-items: center;
    justify-items: center;
}

footer img {

    height: 44px;
    width: auto;
    padding: 0 5px;
}

@media screen and (min-width: 900px) {

    header {
        display: grid;
        grid-template-columns: 44px auto 300px;
    }

    main {
        width: 80vw;
        margin: 0 auto;
        margin-top: 50px;
    }
    
    #nav-bar {
        display: none;
    }
    
    .hamburger {
        display: none;
    }
    
    .navigation {
        display: inline-block;
        align-self: center;
    }
    
    .navigation ul {
        display: flex;
    }
    
    .navigation a {
        border: none;
    }

    .navigation a:hover {
        color: var(--my-dark-blue);
    }

    #tos, #prices {
        display: block;
        background-color: #e4c1f9;
    }

    .interest {
        display: block;
    }

    .main-grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .card {

        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #order-page {

        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;

    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
    }
}