* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    background-image: url("../images/bear-lake.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    column-gap: 40px;
    padding: 10px;
    background-color: #6a946a;
    color: #fff;
    width: 100vw;
}

header h1 {
    font-family: "Gravitas One";
    font-size: 1.5em;
}

header img {
    height: 44px;
    width: auto;
    display: block;
    justify-self: center;
    align-self: center;
}

.navigation {
    display: none;
    font-family: 'Macondo';
    background-color: #6a946a;
    text-align: center;
    font-size: 1.2em;
}

.navigation.open {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color:#ffffff;
    text-decoration: none;
    border-bottom: solid 1px #ddd;

}

#nav-bar a:hover {
    background-color: #a4ca8b;
}

.hamburger {

    background: none;
    border: none;
    cursor: pointer;
    color: #2b0e2b;
}

.hamburger::after {
    content: "\2630";
    font-size: 2em;
}

.hamburger.show::after {
    content: "\00D7";
}

main {
    width: 95vw;
    margin: 0 auto;
}

#cta {

    display: block;
    background-color: #082852;
    color: white;
    font-family: "Macondo";
    font-size: 1.2em;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    text-decoration: none;
    width: 120px;
    text-align: center;
}

#cta:hover {

    background-color:#8bc1ca;
    color: black;

}



h2 {

    color:#ffffff;
    font-family: "Gravitas One";
    text-align: center;
    margin-top: 30px;
}

.normhead::first-line {
    border-radius: 5px;
    background-color: #082852;
}

.normhead::first-letter {
    font-size: 2em;
    background-color: #082852;
}

.hero-img {
    width: 100%;
}

.card {

    display: block;
    margin: 20px 0;
    border: 3px solid black;
    background-color: #6a946a;

}

.card h2 {

    background-color: black;
    color: white;
    text-align: left;
    padding: 10px 15px 10px 5px;
    font-family: "Gravitas One";
    margin-top: 0;

}

#current img {
    width: 55px;
    display: inline;   
}

.stuff .card p {
    font-family: 'Macondo';
    padding: 5px;
    font-size: 1.2em;
}

.stuff .card {

    text-align: center;
}

.menu {

    text-align: center;
    margin: 20px;
}

.menu button {

    padding: 10px 30px;
    border-radius: 20px;
    font-size: 2em;
    font-family: "Macondo";
    margin: 0px 10px;
    background-color: #a4ca8b;
    cursor: pointer;
}

.b-card h2 {

    color: #082852;
    font-family: "Macondo";
}

#company-spotlight {

    margin: 40px 0;
}

.grid, #company-spotlight {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr 1fr));
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
}

.list {

    display: flex;
    flex-direction: column;
}

 .list .b-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0;
        padding: .25rem;
        width: 100%;
        align-items: center;
        justify-items: center;
 }

.list .b-card img {
        display: none;
}

.list .b-card:nth-child(even) {
        background-color: #6a9494;
}



.b-card {

    background-color: #8bc1ca;
    border: 3px solid #082852;
    border-radius: 5px;
    width: 80%;
    text-align: center;
    padding: 10px;
    color: #082852;
    font-family: "Macondo";
    justify-self: center;

}

.b-card h3 {
   font-size: 1.5em;
}

.b-card img {

    margin-bottom: 20px;

}

.b-card p {

    padding: 10px 0;
}



footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 30px;
    background-color: #6a9494;
    color: white;
    padding: 10px;
    margin-top: 40px;
    font-family: "Macondo";
    align-items: center;
    justify-items: center;
}

footer img {

    height: 44px;
    width: auto;
    padding: 0 5px;
}

@media screen and (min-width: 900px) {

    header {
        display: grid;
        grid-template-columns: 44px auto 300px;
    }

    main {
        width: 80vw;
        margin: 0 auto;
    }
    
    #nav-bar {
        display: none;
    }
    
    .hamburger {
        display: none;
    }
    
    .navigation {
        display: inline-block;
        align-self: center;
    }
    
    .navigation ul {
        display: flex;
    }
    
    .navigation a {
        border: none;
    }

    .navigation a:hover {
        color: #082852;
    }

    .card {
        display: inline-block;
        height: 100%;
    }

    .stuff {
        margin-top: 40px;
        width: 80%;
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        grid-gap: 10px;
    }

    #events {

        grid-column: 1/3;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
    }

    .grid .b-card {

        width: 400px;
    }

    .grid {

        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    #company-spotlight {

        grid-template-columns: 1fr 1fr;
        margin: 50px 0 100px 0;
    }


}