* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: #ebc070;
    text-align: center;
    padding: 30px;
    font-size: 2em;
    color:#492a04

}

body {

    background-color: #f5eedc;
}

#cards {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
}

.card {

     min-width: 450px;
}

.card {

    margin: 20px auto;
    background-color: bisque;
    text-align: center;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    max-width: 500px;
    
}

.card h2 {
    margin-bottom: 10px;
    color:rgb(47, 47, 122);
    font-size: 1.8em;
}

.card p {
    padding: 5px;
    color: #492a04;
}
